@page "/Dashboard"

<PageTitle>Finanzas Saludables</PageTitle>

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="images/Home.png" alt="..." style="margin-top: 20px;" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Finanzas Saludables</h1>
            <p>¡Empecemos este trayecto a una buena salud financiera con una definici&oacute;n de ingresos y gastos!</p>
            <a class="btn btn-primary" href="https://github.com/IsaacCoste/ProyectoFinalAp.git" 
            target="_blank" rel="noopener noreferrer">Obtener Informaci&oacute;n</a>
        </div>
    </div>   
    <!-- Content Row-->
    <section class="cards">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="images/MonitorT.png" class="img-config" alt="Card One Image">
                <div class="card-body">
                    <h4 class="card-title">Monitor de Transacciones</h4>
                    <p class="card-text">Monitoreo de ingresos y gastos interactivo.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="/usuarios/index/">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="images/GestionP.png" class="img-config" alt="Card Two Image">
                <div class="card-body">
                    <h4 class="card-title">Gestión de Presupuesto</h4>
                    <p class="card-text">Control de los gastos de tu presupuesto.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="/presupuestos/index/">Ir</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img src="images/InformeE.png" class="card-img-top" alt="Card Three Image">
                <div class="card-body">
                    <h4 class="card-title">Informes y Estadísticas</h4>
                    <p class="card-text">Historial de todas las transacciones registradas.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="/categorias/index">Ir</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="footer-container px-4 px-lg-5">
        <p class="m-0 text-center text-white">Copyright &copy; sitio Web para el proyecto final de Programaci&oacute;n Aplicada 2024-02</p>
    </div>
</footer>
